/*
Colors used:
Primary Color (lightpink):#ffe5ea;
Secondary Color (darkgrey):#5a5a5a;
*/
* {
  box-sizing: border-box;
}

#header {
  background-color: #ffe5ea;
  font-family:'Spartan', sans-serif;
  width: 100%;
  position: fixed;
}

#about {
  background-color: #ffe5ea;
  font-family:'Spartan', sans-serif;
  width: 100%;
}

#basil span {
  text-align: center;
}

nav {
  display: inline-block;
  width: 100%
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li > a:visited {
  color: #ff7f50;
}
nav > ul > li > a:hover, a:focus {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}
nav > ul > li > a:active {
  color: #ffffff;
}

main {
  padding-top: 133px;
}

body {
  background-color:#ffe5ea;/*lightpink*/
  font-family:'Spartan', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #5a5a5a;/*darkgrey*/
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1{
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;

}

h2{
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h3{
  font-size: 1.75em;
  font-weight: 400;

}

h4{
  font-size: 1.35em;
  font-weight: 400;
}

/*typography*/
.makeUppercase {
  text-transform: uppercase;
}

.makeLowercase {
  text-transform: lowercase;
}

.underlineMe {
  text-transform: underline;
}

img {
  max-width: 700px;
  height: auto;
}

a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #ff7f50;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #ffffff;
}

.button {
  display: inline-block;
  background-color: #bfbfbf;
  color: #ffffff;/* need to override default link color*/
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #bfbfbf;/*width of the border, type, color */
  transition-duration: 0.2s opacity;
  transition-property: opacity;
  margin: 0 auto;
}
.button:hover {
  opacity: 0.8;/* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  display: inline-block
  background-color: transparent;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #bfbfbf;
  border-radius: 3px;
  transition-duration: 0.2s opacity;
  transition-property: opacity;
  margin: 0 auto;
}
.button.contact:hover {
  background-color: #bfbfbf;
  color: #ffffff;
  opacity:0.8;
}
.button.contact:active {
  background-color: #bfbfbf
  color: #ffffff;
}

/* Layout styling */
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work.row {
  margin: 25px; border-bottom:1 px solid #4a4a4a; /* 25px top and botom, 1 px bottom border, 0 left and right */
}
#hero {
background-color: #ffe5ea;
padding: 20px 0;
display: inline-block;
width: 100%;
text-align: center;
}
#hero span{ 
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

#footer {
  text-align: center;
}

.content {
margin-left: 10%;
margin-right: 10%;
}

@media only screen and (min-width: 640px) {
  header { 
    text-align: unset;
  }
  nav { 
    width: auto;
    float: right;
  }
}

@media only screen and (min-width: 1024px)
  
@media only screen and (min-width: 1440px)