/*
Colors used:
Primary Color (lightpink):#ffe5ea;
Secondary Color (lightgrey):#bfbfbf;
*/
* {
  box-sizing: border-box;

header {
  background color:#ffe5ea
  font-family:'Spartan', sans-serif;
  text-align: center;
  padding: 10px 0;
}
#header {
box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
position: fixed;
width: 100%;
}
nav {
  display: inline-block;
}
nav {
  width: 100%
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li > a:visited {
  color: #ff7f50;
}
nav > ul > li > a:hover, a:focus {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}
nav > ul > li > a:active {
  color: #ffffff;
}
main {
  padding-top: 133px;
}

body{
  background-color:#ffe5ea;/*lightpink*/
  font-family:'Spartan', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #bfbfbf;/*lightgrey*/
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1{
  font-size: 2.75em;
  font-weight: 700;
}

h2{
  font-size: 2.25em;
  font-weight: 700;
}

h3{
  font-size: 1.75em;
  font-weight: 400;
}

h4{
  font-size: 1.35em;
  font-weight: 400;
}

/*typography*/
.makeUppercase {
  text-tranform: uppercase;
}

.makeLowercase {
  text-tranform: lowercase;
}

.underlineMe {
  text-tranform: underline;
}

img {
  max-width: 1200px;
}

a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #ff7f50;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #ffffff;
}

.button {
  display: inline-block;
  background-color: #bfbfbf;
  color: #ffffff;/* need to override default link color*/
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid ##bfbfbf;/*width of the border, type, color */
  transition: 0.2s opacity;
  margin: 0 auto
}
.button:hover {
  opacity: 0.8;/* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact{
  display: inline-block
  background-color: transparent;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #bfbfbf;
  border-radius: 3px;
  transition: 0.2s opacity;
  margin: 0 auto
}
.button.contact:hover {
  background-color: #bfbfbf
  color: #ffffff;
}
.button.contact:active {
  background-color: #bfbfbf
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15 px
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work.row {
  margin: 25px; border-bottom:1 px solid #4a4a4a; /* 25px top and botom, 1 px bottom border, 0 left and right */
}
.center {
  text-align: center;
}
.logo {
  max-width: 250px;
}
#hero {
background-color: #ffe5ea;
padding: 20px 0;
display: inline-block;
width: 100%;
}
